# Ignore all build files
#*.o
#*.a
#*.d

# Ignore log files.
#*.log

# Ignore temporary files
*~
*.tmp

# Ignore executables
#*.exe

# Ignore project generated directories
/build
/doc

# Ignore directories of external libraries that get built
/ext

# Ignore pictures/plots
*.png

# Ignore word documents
*.docx

# Ignore PyCharm files
*.iml
*.xml

# Ignore the .sh files for the HPC
*.sh

# Ignore R Notebook HTML files
*.html
*.err
*.out

# Ignore .Rproj files
*.Rproj.user
*.Rproj

# Ignore .pdf files
*.pdf
.Rproj.user

# Ignore additional PyCharm files
*.idea

# Ignore __pycache__
__pycache__/